#main-left-side::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
#main-left-side::-webkit-scrollbar-track {
  background: rgba(181, 181, 181, 0.5);
}

/* Handle */
#main-left-side::-webkit-scrollbar-thumb {
  background: rgba(181, 181, 181, 0.5);
  border-radius: 10px;
}

#main-left-side::-webkit-scrollbar-thumb:hover {
  background: rgba(181, 181, 181, 0.5);
}
