POSTGRES_URL="postgres://default:C0AaikIEghm8@ep-patient-pond-68939505-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:C0AaikIEghm8@ep-patient-pond-68939505-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:C0AaikIEghm8@ep-patient-pond-68939505.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-patient-pond-68939505-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="C0AaikIEghm8"
POSTGRES_DATABASE="verceldb"