#gameEnded::-webkit-scrollbar,
#playersSection::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
#gameEnded::-webkit-scrollbar-track,
#playersSection::-webkit-scrollbar-track,
#rootDiv::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
#gameEnded::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#playersSection::-webkit-scrollbar-thumb,
#rootDiv::-webkit-scrollbar-thumb {
  background: rgba(181, 181, 181, 0.5);
  border-radius: 10px;
}

#gameEnded::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#playersSection::-webkit-scrollbar-thumb:hover,
#rootDiv::-webkit-scrollbar-thumb:hover {
  background: rgba(181, 181, 181, 0.5);
}

#rootDiv::-webkit-scrollbar {
  width: 0px;
}

.react-transform-wrapper.transform-component-module_wrapper__SPB86 {
  width: 100% !important;
  height: 100% !important;
}

.react-transform-wrapper {
  width: 100% !important;
  position: relative !important;
  display: flex !important;
}
